<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0"
	id="org.jboss.quickstarts.wfk.kitchensinkcordova" version="2.0.0">
	<name>kitchensink-cordova</name>

	<description>
		A sample Apache Cordova application that responds to the
		deviceready
		event.
	</description>

	<author href="http://jboss.org/jdf" email="jdf-users@lists.jboss.org">
		JBoss by Red Hat
	</author>

	<content src="index.html" />

	<access origin="*" />
	<preference name="fullscreen" value="true" />
	<preference name="webviewbounce" value="true" />

	<feature name="App">
		<param name="android-package" value="org.apache.cordova.App" />
	</feature>
	<feature name="Device">
		<param name="android-package" value="org.apache.cordova.device.Device" />
		<param name="ios-package" value="CDVDevice" />
	</feature>
	<feature name="NetworkStatus">
		<param name="android-package"
			value="org.apache.cordova.networkinformation.NetworkManager" />
		<param name="ios-package" value="CDVConnection" />
	</feature>
	<feature name="StatusBar">
		<param name="ios-package" value="CDVStatusBar" />
	</feature>
	
	
	

</widget>
